@model IEnumerable<EpiManager.Models.PriceLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriceHeader.PriceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyPartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PriceHeader.PriceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyPartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PriceLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PriceLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PriceLineId })
        </td>
    </tr>
}

</table>
