@model EpiManager.Models.PriceHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PriceHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceName)
        </dd>


        @*@foreach (var item in Model.PriceLines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceHeader.PriceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EpiKindId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PriceLineId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PriceLineId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PriceLineId })
                </td>
            </tr>
        }*@


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PriceHeaderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
