@model EpiManager.Models.PriceHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PriceHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceLines)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>ეპილაციის ზონა</th>
                    <th>ფასი</th>
                </tr>

                @foreach (var item in Model.PriceLines)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BodyPart.BodyPartName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            </table>



        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PriceHeaderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
